<a href="https://colab.research.google.com/github/Mukul1Panwar/Pyspark/blob/main/pyspark(29_07_25).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("29/07/25").getOrCreate()

In [ ]:
df = spark.read.csv("/content/BigMart Sales.csv",header=True)

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
spark

In [ ]:
df.show(10)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|              0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|              0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
|          FDP36|     10.395|         Regular|              0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|
|          FDP10|       NULL|         Low Fat|    0.127469857|         Snack Foods|107.7622|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        4022.7636|
|          FDH17|       16.2|         Regular|    0.016687114|        Frozen Foods| 96.9726|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        1076.5986|
|          FDU28|       19.2|         Regular|     0.09444959|        Frozen Foods|187.8214|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|         4710.535|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

In [ ]:
df.printSchema()

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: string (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: string (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: string (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: string (nullable = true)

In [ ]:
df.columns

['Item_Identifier',
 'Item_Weight',
 'Item_Fat_Content',
 'Item_Visibility',
 'Item_Type',
 'Item_MRP',
 'Outlet_Identifier',
 'Outlet_Establishment_Year',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type',
 'Item_Outlet_Sales']

In [ ]:
df.select('Item_Identifier','Item_Type').show()

+---------------+--------------------+
|Item_Identifier|           Item_Type|
+---------------+--------------------+
|          FDA15|               Dairy|
|          DRC01|         Soft Drinks|
|          FDN15|                Meat|
|          FDX07|Fruits and Vegeta...|
|          NCD19|           Household|
|          FDP36|        Baking Goods|
|          FDO10|         Snack Foods|
|          FDP10|         Snack Foods|
|          FDH17|        Frozen Foods|
|          FDU28|        Frozen Foods|
|          FDY07|Fruits and Vegeta...|
|          FDA03|               Dairy|
|          FDX32|Fruits and Vegeta...|
|          FDS46|         Snack Foods|
|          FDF32|Fruits and Vegeta...|
|          FDP49|           Breakfast|
|          NCB42|  Health and Hygiene|
|          FDP49|           Breakfast|
|          DRI11|         Hard Drinks|
|          FDU02|               Dairy|
+---------------+--------------------+
only showing top 20 rows

In [ ]:
df.describe().show()

+-------+---------------+------------------+----------------+-------------------+-------------+-----------------+-----------------+-------------------------+-----------+--------------------+-----------------+------------------+
|summary|Item_Identifier|       Item_Weight|Item_Fat_Content|    Item_Visibility|    Item_Type|         Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type| Item_Outlet_Sales|
+-------+---------------+------------------+----------------+-------------------+-------------+-----------------+-----------------+-------------------------+-----------+--------------------+-----------------+------------------+
|  count|           8523|              7060|            8523|               8523|         8523|             8523|             8523|                     8523|       6113|                8523|             8523|              8523|
|   mean|           NULL|12.857645184136183|            NULL|0.06613202877895127|         NULL|140.9927819781768|             NULL|       1997.8318667135984|       NULL|                NULL|             NULL|2181.2889135750365|
| stddev|           NULL| 4.643456499186414|            NULL|0.05159782232113514|         NULL|62.27506651219047|             NULL|        8.371760408092667|       NULL|                NULL|             NULL|1706.4996157338403|
|    min|          DRA12|                10|              LF|                  0| Baking Goods|         100.0016|           OUT010|                     1985|       High|              Tier 1|    Grocery Store|         1000.6974|
|    max|          NCZ54|             9.895|             reg|        0.328390948|Starchy Foods|          99.9384|           OUT049|                     2009|      Small|              Tier 3|Supermarket Type3|          999.3658|
+-------+---------------+------------------+----------------+-------------------+-------------+-----------------+-----------------+-------------------------+-----------+--------------------+-----------------+------------------+

In [ ]:
from pyspark.sql.functions import col,lit

In [ ]:
df.select("Item_MRP").show(5)

+--------+
|Item_MRP|
+--------+
|249.8092|
| 48.2692|
| 141.618|
| 182.095|
| 53.8614|
+--------+
only showing top 5 rows

In [ ]:
df2=df.withColumn("Item_MRP+10",(df['Item_MRP']*110)/100)

In [ ]:
df2.show(10)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|       Item_MRP+10|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|         274.79012|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|          53.09612|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|          155.7798|
|          FDX07|       19.2|         Regular|              0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|200.30450000000002|
|          NCD19|       8.93|         Low Fat|              0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052| 59.24754000000001|
|          FDP36|     10.395|         Regular|              0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|56.540879999999994|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|63.424679999999995|
|          FDP10|       NULL|         Low Fat|    0.127469857|         Snack Foods|107.7622|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        4022.7636|         118.53842|
|          FDH17|       16.2|         Regular|    0.016687114|        Frozen Foods| 96.9726|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        1076.5986|106.66986000000001|
|          FDU28|       19.2|         Regular|     0.09444959|        Frozen Foods|187.8214|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|         4710.535|206.60354000000004|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+
only showing top 10 rows

In [ ]:
df2=df2.withColumnRenamed("Item_MRP+10","Item_MRP+10%")

In [ ]:
df.drop("Item_MRP")

DataFrame[Item_Identifier: string, Item_Weight: string, Item_Fat_Content: string, Item_Visibility: string, Item_Type: string, Outlet_Identifier: string, Outlet_Establishment_Year: string, Outlet_Size: string, Outlet_Location_Type: string, Outlet_Type: string, Item_Outlet_Sales: string]

In [ ]:
from pyspark.sql.functions import col, sum

null_counts = df2.select([
    sum(col(c).isNull().cast("int")).alias(c)
    for c in df2.columns
])

null_counts.show()

+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------+-----------------+------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type|Item_Outlet_Sales|Item_MRP+10%|
+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------+-----------------+------------+
|              0|       1463|               0|              0|        0|       0|                0|                        0|       2410|                   0|          0|                0|           0|
+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------+-----------------+------------+

In [ ]:
df.describe().show()

+-------+---------------+------------------+----------------+-------------------+-------------+-----------------+-----------------+-------------------------+-----------+--------------------+-----------------+------------------+
|summary|Item_Identifier|       Item_Weight|Item_Fat_Content|    Item_Visibility|    Item_Type|         Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type| Item_Outlet_Sales|
+-------+---------------+------------------+----------------+-------------------+-------------+-----------------+-----------------+-------------------------+-----------+--------------------+-----------------+------------------+
|  count|           8523|              7060|            8523|               8523|         8523|             8523|             8523|                     8523|       6113|                8523|             8523|              8523|
|   mean|           NULL|12.857645184136183|            NULL|0.06613202877895127|         NULL|140.9927819781768|             NULL|       1997.8318667135984|       NULL|                NULL|             NULL|2181.2889135750365|
| stddev|           NULL| 4.643456499186414|            NULL|0.05159782232113514|         NULL|62.27506651219047|             NULL|        8.371760408092667|       NULL|                NULL|             NULL|1706.4996157338403|
|    min|          DRA12|                10|              LF|                  0| Baking Goods|         100.0016|           OUT010|                     1985|       High|              Tier 1|    Grocery Store|         1000.6974|
|    max|          NCZ54|             9.895|             reg|        0.328390948|Starchy Foods|          99.9384|           OUT049|                     2009|      Small|              Tier 3|Supermarket Type3|          999.3658|
+-------+---------------+------------------+----------------+-------------------+-------------+-----------------+-----------------+-------------------------+-----------+--------------------+-----------------+------------------+

In [ ]:
df2 = df2.withColumn('Item_Weight',col("Item_Weight").cast("double"))

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Item_Weight'],
    outputCols=["{}_imputed".format(c) for c in ['Item_Weight']]
).setStrategy("mean")

In [ ]:
df2 = imputer.fit(df2).transform(df2)
df2.show()

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|      Item_MRP+10%|Item_Weight_imputed|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|         274.79012|                9.3|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|          53.09612|               5.92|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|          155.7798|               17.5|
|          FDX07|       19.2|         Regular|              0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|200.30450000000002|               19.2|
|          NCD19|       8.93|         Low Fat|              0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052| 59.24754000000001|               8.93|
|          FDP36|     10.395|         Regular|              0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|56.540879999999994|             10.395|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|63.424679999999995|              13.65|
|          FDP10|       NULL|         Low Fat|    0.127469857|         Snack Foods|107.7622|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        4022.7636|         118.53842| 12.857645184136183|
|          FDH17|       16.2|         Regular|    0.016687114|        Frozen Foods| 96.9726|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        1076.5986|106.66986000000001|               16.2|
|          FDU28|       19.2|         Regular|     0.09444959|        Frozen Foods|187.8214|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|         4710.535|206.60354000000004|               19.2|
|          FDY07|       11.8|         Low Fat|              0|Fruits and Vegeta...| 45.5402|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1516.0266| 50.09421999999999|               11.8|
|          FDA03|       18.5|         Regular|    0.045463773|               Dairy|144.1102|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2187.153|         158.52122|               18.5|
|          FDX32|       15.1|         Regular|      0.1000135|Fruits and Vegeta...|145.4786|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1589.2646|160.02646000000001|               15.1|
|          FDS46|       17.6|         Regular|    0.047257328|         Snack Foods|119.6782|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2145.2076|131.64602000000002|               17.6|
|          FDF32|      16.35|         Low Fat|      0.0680243|Fruits and Vegeta...|196.4426|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         1977.426|         216.08686|              16.35|
|          FDP49|        9.0|         Regular|    0.069088961|           Breakfast| 56.3614|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        1547.3192| 61.99754000000001|                9.0|
|          NCB42|       11.8|         Low Fat|    0.008596051|  Health and Hygiene|115.3492|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        1621.8888|         126.88412|               11.8|
|          FDP49|        9.0|         Regular|    0.069196376|           Breakfast| 54.3614|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         718.3982|59.797540000000005|                9.0|
|          DRI11|       NULL|         Low Fat|    0.034237682|         Hard Drinks|113.2834|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|         2303.668|124.61174000000001| 12.857645184136183|
|          FDU02|      13.35|         Low Fat|     0.10249212|               Dairy|230.5352|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        2748.4224|         253.58872|              13.35|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
only showing top 20 rows

In [ ]:
count_null = df2.select([
    sum(col(c).isNull().cast("int")).alias(c)
    for c in df2.columns
])
count_null.show()

+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------+-----------------+------------+-------------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type|Item_Outlet_Sales|Item_MRP+10%|Item_Weight_imputed|
+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------+-----------------+------------+-------------------+
|              0|       1463|               0|              0|        0|       0|                0|                        0|       2410|                   0|          0|                0|           0|                  0|
+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------+-----------------+------------+-------------------+

In [ ]:
df2.select("Item_Weight_imputed").show()

+-------------------+
|Item_Weight_imputed|
+-------------------+
|                9.3|
|               5.92|
|               17.5|
|               19.2|
|               8.93|
|             10.395|
|              13.65|
| 12.857645184136183|
|               16.2|
|               19.2|
|               11.8|
|               18.5|
|               15.1|
|               17.6|
|              16.35|
|                9.0|
|               11.8|
|                9.0|
| 12.857645184136183|
|              13.35|
+-------------------+
only showing top 20 rows

In [ ]:
df2.filter(col("Item_Weight_imputed")<10).select(['Item_Weight_imputed','Item_Type','Item_MRP']).show()

+-------------------+------------------+--------+
|Item_Weight_imputed|         Item_Type|Item_MRP|
+-------------------+------------------+--------+
|                9.3|             Dairy|249.8092|
|               5.92|       Soft Drinks| 48.2692|
|               8.93|         Household| 53.8614|
|                9.0|         Breakfast| 56.3614|
|                9.0|         Breakfast| 54.3614|
|              7.645|       Snack Foods| 42.3112|
|              5.925|             Dairy| 45.5086|
|               8.85|       Soft Drinks|122.5388|
|                9.8|              Meat| 126.002|
|               6.42|             Dairy|178.1002|
|               7.39|Health and Hygiene|143.8812|
|              9.895|            Canned|117.0492|
|              7.905|       Snack Foods|249.0408|
|              9.195|         Household|106.1622|
|              8.365|       Hard Drinks| 38.0506|
|               7.97|              Meat| 87.3514|
|              8.645|Health and Hygiene|  95.841|
|              7.855|            Canned|189.6188|
|              7.825|         Household|254.3698|
|               8.39|      Frozen Foods|114.0176|
+-------------------+------------------+--------+
only showing top 20 rows

In [ ]:
df2.columns

['Item_Identifier',
 'Item_Weight',
 'Item_Fat_Content',
 'Item_Visibility',
 'Item_Type',
 'Item_MRP',
 'Outlet_Identifier',
 'Outlet_Establishment_Year',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type',
 'Item_Outlet_Sales',
 'Item_MRP+10%',
 'Item_Weight_imputed']

In [ ]:
df2.filter((df2['Item_Weight_imputed']>=10)&(df2['Item_MRP']>=100)).show()

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|      Item_MRP+10%|Item_Weight_imputed|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|          155.7798|               17.5|
|          FDX07|       19.2|         Regular|              0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|200.30450000000002|               19.2|
|          FDP10|       NULL|         Low Fat|    0.127469857|         Snack Foods|107.7622|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        4022.7636|         118.53842| 12.857645184136183|
|          FDU28|       19.2|         Regular|     0.09444959|        Frozen Foods|187.8214|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|         4710.535|206.60354000000004|               19.2|
|          FDA03|       18.5|         Regular|    0.045463773|               Dairy|144.1102|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2187.153|         158.52122|               18.5|
|          FDX32|       15.1|         Regular|      0.1000135|Fruits and Vegeta...|145.4786|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1589.2646|160.02646000000001|               15.1|
|          FDS46|       17.6|         Regular|    0.047257328|         Snack Foods|119.6782|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2145.2076|131.64602000000002|               17.6|
|          FDF32|      16.35|         Low Fat|      0.0680243|Fruits and Vegeta...|196.4426|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         1977.426|         216.08686|              16.35|
|          NCB42|       11.8|         Low Fat|    0.008596051|  Health and Hygiene|115.3492|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        1621.8888|         126.88412|               11.8|
|          DRI11|       NULL|         Low Fat|    0.034237682|         Hard Drinks|113.2834|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|         2303.668|124.61174000000001| 12.857645184136183|
|          FDU02|      13.35|         Low Fat|     0.10249212|               Dairy|230.5352|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        2748.4224|         253.58872|              13.35|
|          FDN22|      18.85|         Regular|    0.138190277|         Snack Foods|250.8724|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         3775.086|         275.95964|              18.85|
|          FDW12|       NULL|         Regular|    0.035399923|        Baking Goods|144.5444|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        4064.0432|         158.99884| 12.857645184136183|
|          NCB30|       14.6|         Low Fat|    0.025698134|           Household|196.5084|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        1587.2672|216.15923999999998|               14.6|
|          FDC37|       NULL|         Low Fat|    0.057556998|        Baking Goods|107.6938|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|         214.3876|         118.46318| 12.857645184136183|
|          FDR28|      13.85|         Regular|    0.025896485|        Frozen Foods| 165.021|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         4078.025|181.52309999999997|              13.85|
|          FDP33|       18.7|         Low Fat|              0|         Snack Foods|256.6672|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        3068.0064|         282.33392|               18.7|
|          DRH01|       17.5|         Low Fat|    0.097904029|         Soft Drinks|174.8738|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2085.2856|         192.36118|               17.5|
|          NCX29|       10.0|         Low Fat|    0.089291137|  Health and Hygiene|146.7102|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        3791.0652|161.38121999999998|               10.0|
|          FDV20|       NULL|         Regular|    0.059511812|Fruits and Vegeta...|128.0678|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        2797.6916|         140.87458| 12.857645184136183|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
only showing top 20 rows

In [ ]:
df2.filter(~(df2['Item_Weight'].isNull())).show()

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|      Item_MRP+10%|Item_Weight_imputed|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|         274.79012|                9.3|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|          53.09612|               5.92|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|          155.7798|               17.5|
|          FDX07|       19.2|         Regular|              0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|200.30450000000002|               19.2|
|          NCD19|       8.93|         Low Fat|              0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052| 59.24754000000001|               8.93|
|          FDP36|     10.395|         Regular|              0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|56.540879999999994|             10.395|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|63.424679999999995|              13.65|
|          FDH17|       16.2|         Regular|    0.016687114|        Frozen Foods| 96.9726|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        1076.5986|106.66986000000001|               16.2|
|          FDU28|       19.2|         Regular|     0.09444959|        Frozen Foods|187.8214|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|         4710.535|206.60354000000004|               19.2|
|          FDY07|       11.8|         Low Fat|              0|Fruits and Vegeta...| 45.5402|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1516.0266| 50.09421999999999|               11.8|
|          FDA03|       18.5|         Regular|    0.045463773|               Dairy|144.1102|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2187.153|         158.52122|               18.5|
|          FDX32|       15.1|         Regular|      0.1000135|Fruits and Vegeta...|145.4786|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1589.2646|160.02646000000001|               15.1|
|          FDS46|       17.6|         Regular|    0.047257328|         Snack Foods|119.6782|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2145.2076|131.64602000000002|               17.6|
|          FDF32|      16.35|         Low Fat|      0.0680243|Fruits and Vegeta...|196.4426|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         1977.426|         216.08686|              16.35|
|          FDP49|        9.0|         Regular|    0.069088961|           Breakfast| 56.3614|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        1547.3192| 61.99754000000001|                9.0|
|          NCB42|       11.8|         Low Fat|    0.008596051|  Health and Hygiene|115.3492|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        1621.8888|         126.88412|               11.8|
|          FDP49|        9.0|         Regular|    0.069196376|           Breakfast| 54.3614|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         718.3982|59.797540000000005|                9.0|
|          FDU02|      13.35|         Low Fat|     0.10249212|               Dairy|230.5352|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        2748.4224|         253.58872|              13.35|
|          FDN22|      18.85|         Regular|    0.138190277|         Snack Foods|250.8724|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         3775.086|         275.95964|              18.85|
|          NCB30|       14.6|         Low Fat|    0.025698134|           Household|196.5084|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        1587.2672|216.15923999999998|               14.6|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+-------------------+
only showing top 20 rows

In [ ]:
df2.groupBy('Item_Fat_Content').agg(sum('Item_MRP')).show()

+----------------+------------------+
|Item_Fat_Content|     sum(Item_MRP)|
+----------------+------------------+
|         low fat|15071.732799999994|
|         Low Fat| 717390.8393999999|
|              LF|        43857.1062|
|         Regular| 409413.1214000004|
|             reg|15948.681000000002|
+----------------+------------------+

In [ ]:
df2.groupBy('Item_Fat_Content').count().show()

+----------------+-----+
|Item_Fat_Content|count|
+----------------+-----+
|         low fat|  112|
|         Low Fat| 5089|
|              LF|  316|
|         Regular| 2889|
|             reg|  117|
+----------------+-----+

In [ ]:
df2.groupBy("Item_Type").count().show()

+--------------------+-----+
|           Item_Type|count|
+--------------------+-----+
|       Starchy Foods|  148|
|        Baking Goods|  648|
|              Breads|  251|
|Fruits and Vegeta...| 1232|
|                Meat|  425|
|         Hard Drinks|  214|
|         Soft Drinks|  445|
|           Household|  910|
|           Breakfast|  110|
|               Dairy|  682|
|         Snack Foods| 1200|
|              Others|  169|
|             Seafood|   64|
|              Canned|  649|
|        Frozen Foods|  856|
|  Health and Hygiene|  520|
+--------------------+-----+

In [ ]:
df2.groupBy("Item_Type").agg(sum('Item_MRP')).show()

+--------------------+------------------+
|           Item_Type|     sum(Item_MRP)|
+--------------------+------------------+
|       Starchy Foods|21880.027399999995|
|        Baking Goods| 81894.73640000001|
|              Breads| 35379.11979999999|
|Fruits and Vegeta...|178124.08099999998|
|                Meat|59449.863799999956|
|         Hard Drinks|29334.676599999995|
|         Soft Drinks|58514.164999999964|
|           Household|135976.52539999998|
|           Breakfast|        15596.6966|
|               Dairy|101276.45959999996|
|         Snack Foods|175433.92040000003|
|              Others|22451.891600000006|
|             Seafood| 9077.870000000003|
|              Canned|  90706.7269999999|
|        Frozen Foods|118558.88140000001|
|  Health and Hygiene|        68025.8388|
+--------------------+------------------+

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("ML Practice").getOrCreate()

In [ ]:
spark

In [ ]:
from re import T
df_ml = spark.read.csv("/content/Admission_Predict.csv",header=True,inferSchema=True)  # inferSchema : use to remain all the column same data type not change

In [ ]:
df_ml.show()

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|
|         2|      324|        107|                4|4.0| 4.5|8.87|       1|            0.76|
|         3|      316|        104|                3|3.0| 3.5| 8.0|       1|            0.72|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|
|         5|      314|        103|                2|2.0| 3.0|8.21|       0|            0.65|
|         6|      330|        115|                5|4.5| 3.0|9.34|       1|             0.9|
|         7|      321|        109|                3|3.0| 4.0| 8.2|       1|            0.75|
|         8|      308|        101|                2|3.0| 4.0| 7.9|       0|            0.68|
|         9|      302|        102|                1|2.0| 1.5| 8.0|       0|             0.5|
|        10|      323|        108|                3|3.5| 3.0| 8.6|       0|            0.45|
|        11|      325|        106|                3|3.5| 4.0| 8.4|       1|            0.52|
|        12|      327|        111|                4|4.0| 4.5| 9.0|       1|            0.84|
|        13|      328|        112|                4|4.0| 4.5| 9.1|       1|            0.78|
|        14|      307|        109|                3|4.0| 3.0| 8.0|       1|            0.62|
|        15|      311|        104|                3|3.5| 2.0| 8.2|       1|            0.61|
|        16|      314|        105|                3|3.5| 2.5| 8.3|       0|            0.54|
|        17|      317|        107|                3|4.0| 3.0| 8.7|       0|            0.66|
|        18|      319|        106|                3|4.0| 3.0| 8.0|       1|            0.65|
|        19|      318|        110|                3|4.0| 3.0| 8.8|       0|            0.63|
|        20|      303|        102|                3|3.5| 3.0| 8.5|       0|            0.62|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
df_ml.printSchema()

root
 |-- Serial No.: integer (nullable = true)
 |-- GRE Score: integer (nullable = true)
 |-- TOEFL Score: integer (nullable = true)
 |-- University Rating: integer (nullable = true)
 |-- SOP: double (nullable = true)
 |-- LOR : double (nullable = true)
 |-- CGPA: double (nullable = true)
 |-- Research: integer (nullable = true)
 |-- Chance of Admit : double (nullable = true)

In [ ]:
vector_assembler = VectorAssembler(
    inputCols=['GRE Score','University Rating','CGPA'],
    outputCol='Independent feature',
    handleInvalid='skip'
)

In [ ]:
output = vector_assembler.transform(df_ml)

In [ ]:
output.show()

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |Independent feature|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|   [337.0,4.0,9.65]|
|         2|      324|        107|                4|4.0| 4.5|8.87|       1|            0.76|   [324.0,4.0,8.87]|
|         3|      316|        104|                3|3.0| 3.5| 8.0|       1|            0.72|    [316.0,3.0,8.0]|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|   [322.0,3.0,8.67]|
|         5|      314|        103|                2|2.0| 3.0|8.21|       0|            0.65|   [314.0,2.0,8.21]|
|         6|      330|        115|                5|4.5| 3.0|9.34|       1|             0.9|   [330.0,5.0,9.34]|
|         7|      321|        109|                3|3.0| 4.0| 8.2|       1|            0.75|    [321.0,3.0,8.2]|
|         8|      308|        101|                2|3.0| 4.0| 7.9|       0|            0.68|    [308.0,2.0,7.9]|
|         9|      302|        102|                1|2.0| 1.5| 8.0|       0|             0.5|    [302.0,1.0,8.0]|
|        10|      323|        108|                3|3.5| 3.0| 8.6|       0|            0.45|    [323.0,3.0,8.6]|
|        11|      325|        106|                3|3.5| 4.0| 8.4|       1|            0.52|    [325.0,3.0,8.4]|
|        12|      327|        111|                4|4.0| 4.5| 9.0|       1|            0.84|    [327.0,4.0,9.0]|
|        13|      328|        112|                4|4.0| 4.5| 9.1|       1|            0.78|    [328.0,4.0,9.1]|
|        14|      307|        109|                3|4.0| 3.0| 8.0|       1|            0.62|    [307.0,3.0,8.0]|
|        15|      311|        104|                3|3.5| 2.0| 8.2|       1|            0.61|    [311.0,3.0,8.2]|
|        16|      314|        105|                3|3.5| 2.5| 8.3|       0|            0.54|    [314.0,3.0,8.3]|
|        17|      317|        107|                3|4.0| 3.0| 8.7|       0|            0.66|    [317.0,3.0,8.7]|
|        18|      319|        106|                3|4.0| 3.0| 8.0|       1|            0.65|    [319.0,3.0,8.0]|
|        19|      318|        110|                3|4.0| 3.0| 8.8|       0|            0.63|    [318.0,3.0,8.8]|
|        20|      303|        102|                3|3.5| 3.0| 8.5|       0|            0.62|    [303.0,3.0,8.5]|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
only showing top 20 rows

In [ ]:
output.columns

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ',
 'Independent feature']

In [ ]:
final_data = output.select('Independent feature','Chance of Admit ')

In [ ]:
final_data.show()

+-------------------+----------------+
|Independent feature|Chance of Admit |
+-------------------+----------------+
|   [337.0,4.0,9.65]|            0.92|
|   [324.0,4.0,8.87]|            0.76|
|    [316.0,3.0,8.0]|            0.72|
|   [322.0,3.0,8.67]|             0.8|
|   [314.0,2.0,8.21]|            0.65|
|   [330.0,5.0,9.34]|             0.9|
|    [321.0,3.0,8.2]|            0.75|
|    [308.0,2.0,7.9]|            0.68|
|    [302.0,1.0,8.0]|             0.5|
|    [323.0,3.0,8.6]|            0.45|
|    [325.0,3.0,8.4]|            0.52|
|    [327.0,4.0,9.0]|            0.84|
|    [328.0,4.0,9.1]|            0.78|
|    [307.0,3.0,8.0]|            0.62|
|    [311.0,3.0,8.2]|            0.61|
|    [314.0,3.0,8.3]|            0.54|
|    [317.0,3.0,8.7]|            0.66|
|    [319.0,3.0,8.0]|            0.65|
|    [318.0,3.0,8.8]|            0.63|
|    [303.0,3.0,8.5]|            0.62|
+-------------------+----------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
train_data,test_data = final_data.randomSplit([0.75,0.25])

In [ ]:
reg = LinearRegression(featuresCol='Independent feature',labelCol='Chance of Admit ')

In [ ]:
reg = reg.fit(train_data)

In [ ]:
pred_result = reg.evaluate(test_data)

In [ ]:
pred_result.predictions.show()

+-------------------+----------------+-------------------+
|Independent feature|Chance of Admit |         prediction|
+-------------------+----------------+-------------------+
|    [293.0,2.0,7.8]|            0.64| 0.5239787408633845|
|   [294.0,1.0,7.36]|            0.46|0.44963419703929186|
|   [296.0,2.0,7.28]|            0.47|0.45457414595441614|
|   [296.0,2.0,8.03]|            0.61| 0.5666894826157813|
|    [297.0,1.0,7.9]|            0.52| 0.5386859446117196|
|    [298.0,2.0,7.6]|            0.46| 0.5079624930474285|
|   [298.0,3.0,8.54]|            0.69| 0.6598268297045125|
|   [299.0,1.0,7.34]|            0.42| 0.4605256300220635|
|   [299.0,1.0,7.89]|            0.59| 0.5427435435737316|
|   [299.0,2.0,7.88]|            0.68|  0.552595120459753|
|    [299.0,2.0,8.4]|            0.64| 0.6303284205449664|
|   [299.0,3.0,8.02]|            0.63| 0.5848697646780479|
|    [300.0,1.0,6.8]|            0.36|0.38257882268462895|
|   [300.0,2.0,7.87]|            0.56| 0.5538764843630166|
|   [300.0,3.0,8.26]|            0.62| 0.6235229074684332|
|   [301.0,1.0,8.03]|            0.67|  0.569224209868016|
|   [301.0,2.0,7.89]|            0.68| 0.5596424617327345|
|   [302.0,3.0,8.33]|            0.65|  0.639539475674324|
|   [303.0,2.0,8.06]|            0.64| 0.5906077414934741|
|   [303.0,3.0,7.66]|            0.36|  0.542159343315586|
+-------------------+----------------+-------------------+
only showing top 20 rows

In [ ]:
pred_result.meanAbsoluteError

0.043718164243065114